nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  background-color: #222;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

nav a:hover {
  color: yellow;
}

.container {
  width: 85%;
  margin: auto;
}
