body {
  margin: 0 150px;
  background: rgb(214, 205, 205);
}

h2 {
  color: green;
}

div {
  border-radius: 10px;
}
.Familiya {
  text-align: center;
  background: green;
  padding-bottom: 50px;
}

.Familiya h1 {
  color: white;
}
.aboutMe {
  background: white;
  padding: 10px 0;
  border: 2px solid gray;
}

.red-text {
  color: red;
}

.skills {
  background: white;
  padding: 10px 0;
  border: 2px solid gray;
}

ol {
  background: rgb(212, 242, 242);
}
ul {
  background: rgb(233, 233, 191);
}





