      body {
        margin: 0;
        font-family: Arial;
      }

      /* ================= NAVBAR ================= */

      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background: black;
      }

      .navbar a {
        color: white;
        text-decoration: none;
        font-size: 20px;
      }

      /* ================= SECTION 1 ================= */

      .section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background: lightblue;
      }

      .section1 div {
        width: 150px;
        height: 150px;
        background: red;
      }

      /* ================= SECTION 2 ================= */

      .section2 {
        display: flex;
        justify-content: space-around;
        align-items: start;
        height: 300px;
        background: lightgreen;
      }

      .section2 div {
        width: 120px;
        height: 120px;
        background: blue;
      }

      /* ================= SECTION 3 ================= */

      .section3 {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        height: 300px;
        background: lightcoral;
      }

      .section3 div {
        width: 120px;
        height: 120px;
        background: purple;
      }

      /* ================= SECTION 4 ================= */

      .section4 {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        height: 300px;
        background: orange;
      }

      .section4 div {
        border: 1px solid white;
        width: 120px;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* ================= SECTION 5 ================= */

      .section5 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        height: 300px;
        background: pink;
      }

      .section5 div {
        width: 120px;
        height: 120px;
        background: green;
      }

      /* ================= FOOTER ================= */

      .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        background: black;
      }

      .footer a {
        color: white;
        text-decoration: none;
      }